* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    cursor: default;
    overflow-x: hidden;
}

/* Styling box1 */

.box1 > h1 {
    font-size: 3rem;
    text-align: center;
    margin: 20px auto;
}

.box1 {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
}

.banner {
    width: 100%;
    height: auto;
}

.info {
    background-color: black;
    color: aliceblue;
    padding: 30px;
    font-size: 1.2rem;
}

.description {
    margin: 30px auto;
}

.info > h2 {
    text-align: center;
    padding-top: 20px;
    width: 200px;
    margin: 10px auto;
}

.info > h2:hover {
    color: khaki;
    transform: scale(1.5);
}

/* Styling box2 */

.box2 {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
background-color: khaki;
}

.ing, .steps {
    align-items: center;
    font-size: 1.1rem;
    margin: 20px 50px;
}

.box2 > h2 {
    align-items: center;
    padding: 20px;
}

/* Styling add info */

div.add-info {
    text-align: center;
    margin: 30px;
    }

.add-info > h2 {
    padding-right: 10px;
    margin-bottom: 30px;
}

.add-info > h2:hover {
    color: rgb(182, 175, 108);
    transform: scale(1.5);
}

.add-info > p {
    font-size: 1.2rem;

}

/* Styling footer */

.footer {
    text-align: center;
    font-size: 1.2rem;
    
}

    button {
    margin: 10px;
    padding: 10px 20px;
    background: khaki;
    font-size: 1rem;
    cursor: pointer;
}

    button:hover {
    background: rgba(240, 230, 140, 0.5);
}

/* Add the style for the desktop */
