* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

/* Styling the first container */

.banner img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin: 20px auto;
}

.box1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background: black;
}

.description, .main-info > h2 {
    color: aliceblue;
    background-color: black;
    }

    .main-info > h2 {
        text-align: center;
        padding-top: 20px;
    }

    .main-info > h2:hover {
        color: rgb(80, 165, 80);
        transform: scale(1.5);
    }


.description {
padding: 30px;
font-size: 1.2rem;
}

/* Styling the second container */

.box2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(165, 91, 80, 0.5)
}

.steps {
    align-items: center;
    font-size: 1.1rem;
}

.ing {
    align-items: center;
    font-size: 1.1rem;
    
}

.box2 > h2 {
    align-items: center;
    padding: 20px;
}

ol {
    margin: 30px;
}



