* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    cursor: default;
}

/* Styling the first container */

.banner img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin: 20px auto;
}

.box1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background: black;
}

.description, .main-info > h2 {
    color: aliceblue;
    background-color: black;
    }

    .main-info > h2 {
        text-align: center;
        padding-top: 20px;
        width: 200px;
        margin: 10px auto;
    }

    .main-info > h2:hover {
        color: rgb(210, 116, 101);
        transform: scale(1.5);
    }


.description {
padding: 30px;
font-size: 1.2rem;
}

/* Styling the second container */

.box2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(165, 91, 80, 0.5);
}

.steps {
    align-items: center;
    font-size: 1.1rem;
}

.ing {
    align-items: center;
    font-size: 1.1rem;
    
}

.box2 > h2 {
    align-items: center;
    padding: 20px;
}

ol {
    margin-left: 40px;
    margin-right: 30px;
    margin-bottom: 20px;
}

/* Styling add info */

div.add-info {
    text-align: center;
    margin: 30px;
    }

.add-info > h2 {
    padding-right: 10px;
}

.add-info > p {
    font-size: 1.2rem;

}


/* Styling footer */

.footer {
    text-align: center;
    font-size: 1.2rem;
    
}

.button button {
    margin: 10px;
    padding: 10px 20px;
    background: rgba(165, 91, 80, 0.5);
    font-size: 1rem;
    cursor: pointer;
}

.add-info > h2 {
    margin-bottom: 30px;
}

.add-info > h2:hover {
    color: rgb(210, 116, 101);
    transform: scale(1.5);

}

.button button:hover {
    background: rgba(165, 91, 80, 0.2);
}

/* Add the style for the desktop */

@media (min-width: 1000px) {
    .box1 {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .box2 {
        flex-direction: row;
        flex-wrap: nowrap;
        
    }



.ing, .steps {
    padding: 20px;
}

.banner {
    width: 40%;
}

.main-info {
    width: 60%;
}

}
