* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    cursor: default; 
    width: 100vw;
    height: 100vh;
}

/* Practicing flex */



h1 {
    font-size: 3rem;
    text-align: center;
    margin: 20px auto;
}


/* Styling the fist box */

.box1 {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.banner {
display: block;
}
div.img {
    display: block;
}

.description, h2:nth-child(1) {
    color: aliceblue;
    
}

.description {
padding: 30px;
font-size: 1.2rem;
}

    h2:nth-child(1) {
        margin-bottom: 20px;
        text-align: center;
    }

    h2:nth-child(1):hover {
        color: rgb(80, 165, 80);
        transform: scale(1.5);
    }

div.info {
    display: flexbox;
    
}

/* Styling the second box */

.box2 {
    display: flex;
    gap: 1rem;
    padding: 50px;
    justify-content: space-between;
    background-color: rgba(80, 165, 80, .6);
    }

.ing {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    
}

.steps {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.box2 > h2 {
    display: flex;
    align-items: center;
}

.box2 > h2:hover {
    transform: scale(1.5);
}

/* Styling additional info */

.add-info {
    text-align: center;
    margin: 30px;
}

.add-info > h2 {
    color: black;
}

.add-info > p {
    font-size: 1.2rem;
}

/* Styling return button */

.footer {
    text-align: center;
    font-size: 1.2rem;
    
}

.button button {
    margin: 10px;
    padding: 10px 20px;
    background: rgba(80, 165, 80, .6);
    font-size: 1rem;
}

.button button:hover {
    background: rgba(80, 165, 80, .2);
}


/* Need to learn Responsive flex */
/* Add flex to the banner -> responsive?         width: 100%;
height: auto;*/


@media (max-width: 1000px) {
    .box1 {
        display: block;
        /* flex-wrap: wrap;
        flex-direction: column;
        justify-content: center; */
    }
    .banner {
        width: 100%;
        height: auto;
    }
        .box2 {
    display: block;
    }

    .box2 > h2 {
        margin: 10px auto;
        
    }


    .box2 > h2:hover {
        transform: scale(1);
    }

    .add-info {
        display: block;
    }
    .footer {
        display: block;
    }
}
