@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body {
    background-image: url(./recipes/img/banner\ index.avif);
    background-position: center;
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }
h1 {
    border: 1px solid black;
    background-color: aliceblue;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    opacity: 0.78;
}
h2 {
    text-align: center;
}
div {
    background-color: rgb(11, 8, 8);
    color: aliceblue;
}
.column {
    width: 33.33%;
    border: 3px solid rgb(80, 165, 80);
    float: left;
    padding: 10px;
    height: 200px;
    overflow-y: scroll;
}
.row::after {
    display: table;
    clear: both;
}
div a {
    float: left;
    width: 33.33%;
    background-color: aliceblue;
    position: relative;
    top: 20px;
    border: 2px solid black;
    padding: 10px;
    margin: 0 auto;    
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: rgb(80, 165, 80);
    opacity: 0.89;
    }
    div a:hover {
        color: aliceblue;
        background-color: rgb(80, 165, 80);
    }
footer p {
    border: 1px solid black;
    background-color: aliceblue;
    text-align: center;
    position: absolute;
    bottom: 5px;
    right: 10px;
    padding: 5px;
    opacity: 0.78;
}

